<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    {{!-- {{> styles }} --}}
</head>
<body>
    {{!-- <div class="header">{{header}}</div> --}}

    {{{ body }}}

    {{!-- <div class="footer">Regards,</div>
    <div class="header"><img src="cid:abcd" style="width: 35%;"></div> --}}
</body>
</html>